@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    direction: ltr;
    font-family: 'Roboto', sans-serif;
}

button:focus{
    outline:none;
}

/* St. Navigation */

nav.navbar ul.navbar-nav li a.nav-link {
    color: white;
    font-size: 16px;
    line-height: 60px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active:not(:first-of-type) {
    color: #0575E6;
}

nav.navbar ul.navbar-nav li a.nav-link.active:first-of-type {
    color: #0575E6;
    font-weight: bolder;
}

nav.navbar button.navbar-toggler span {
    color: white;
}

nav.navbar.noTransparent {
    background-color: white;
    border-bottom: 1px solid #EEE;
}

nav.navbar.noTransparent ul.navbar-nav li a.nav-link {
    color: #0575E6;
}

nav.navbar.noTransparent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparent ul.navbar-nav li a.nav-link.active {
    color: white;
    background-color: #0575E6;
}

nav.navbar.noTransparent button.navbar-toggler {
    margin: 30px auto;
}

nav.navbar.noTransparent button.navbar-toggler span {
    color: #0575E6;
}

/* End. Navigation */


/* St. Heading */

header.header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}

header.header .MainCard {
    background-color: rgba(5, 117, 230, 0.8);
    color: white;
    transform: translateY(15%);
    padding: 3% 10%;
}

header.header .MainCard img {
    border: 5px solid #72ACE7;
    margin-bottom: 20px;
}

header.header .MainCard h1 {
    font-size: 30px;
    color: #F9F9F9;
    line-height: 50px;
    margin-bottom: 20px;
}

header.header .MainCard ul {
    padding: 0;
    margin-bottom: 30px;
}

header.header .MainCard ul li:not(:last-of-type) {
    margin-right: 10px;
}

header.header .MainCard ul li a {
    color: #021B79;
    font-size: 24px;
}

header.header .MainCard h2 {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 15px;
}

header.header .MainCard p {
    font-size: 15px;
    line-height: 30px;
    color: #89C4FF;
    margin-bottom: 40px;
}

header.header .MainCard > a {
    color: white;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
}

header.header .MainCard > a:hover,
header.header .MainCard > a:focus {
    text-decoration: none;
}

/* End. Heading */


/* St. Education */

section.education {
    padding: 220px 0 80px;
    background-color: #F6FBFF;
}

section.education .title {
    padding-bottom: 10px;
    position: relative;
}

section.education .title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #196DD1;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

section.education .title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #196DD1;
}

section.education .title h2 i {
    display: block;
}

section.education ul.timeline {
    padding-right: 0;
    padding-top: 45px;
    position: relative;
}

section.education ul.timeline:before {
    content: '';
    width: 2px;
    height: 74%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    margin-right: -1px;
    background-color: #196DD1;
}

section.education ul.timeline li {
    position: relative;
}

section.education ul.timeline li:not(:first-of-type) {
    margin-top: -50px;
}

section.education ul.timeline li:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #196dd1;
    position: absolute;
    top: 9%;
    right: 50%;
    margin-right: -5px;
}

section.education ul.timeline li:nth-of-type(even) {
    direction: rtl;
    text-align: left;
}

section.education ul.timeline li .time-box {
    background-color: white;
    border: 2px solid #F4F3F3;
    padding: 20px 25px;
    max-width: 48%;
    position: relative;
    box-shadow: 0 0 30px 0 #EEE;
}

section.education ul.timeline li .time-box:after {
    width: 20px;
    height: 20px;
    background-color: white;
    content: '';
    position: absolute;
    top: 5%;
    right: -10px;
    border-right: 2px solid #F4F3F3;
    border-top: 2px solid #F4F3F3;
    transform: rotate(45deg)
}

section.education ul.timeline li:nth-of-type(even) .time-box:after {
    right: auto;
    left: -10px;
    border-left: 2px solid #F4F3F3;
    border-bottom: 2px solid #F4F3F3;
    border-right: none;
    border-top: none;
}

section.education ul.timeline li .time-box h4 {
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}

section.education ul.timeline li .time-box h4 span {
    color: white;
    background-color: #0575E6;
    padding: 0 5px;
    margin-right: 10px;
    float: left;
    font-size: 13px;
}

section.education ul.timeline li:nth-of-type(even) .time-box h4 span {
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

section.education ul.timeline li .time-box p {
    font-size: 15px;
    line-height: 22px;
    color: #B1B1B1;
}

/* End. Education */


/* St. Skills */

section.skills {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.skills .overlay {
    background-color: rgba(5, 117, 230, 0.7);
    padding: 150px 0 100px;
}

section.skills .overlay .stat p {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Open Sans';
    color: white;
    margin-top: 30px;
}

section.skills .overlay .stat .circle {
    position: relative;
}

section.skills .overlay .stat .circle span {
    font-size: 24px;
    font-weight: bold;
    color: #0575E6;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

section.skills .overlay .stat .circle canvas {
    background-color: #EEF6FF;
    border-radius: 50%;
    padding: 8px;
}

/* End. Skills */


/* St. Gallery */

section.gallery {
    padding: 75px 0 90px;
}

section.gallery .title {
    margin-bottom: 35px;
}

section.gallery .title h2 {
    font-size: 40px;
    line-height: 50px;
    color: #0575E6;
}

section.gallery .title h2 i {
    display: block;
    font-size: 33px;
}

section.gallery .work-gallery input {
    display: none;
}

section.gallery .work-gallery label {
    font-size: 18px;
    line-height: 35px;
    color: #8F9899;
    cursor: pointer;
    margin: 0 7px 40px;
    padding: 10px 29px;
    background-color: white;
    border: 2px solid #E4EEEE;
    border-radius: 2px;
    transition: all 0.5s ease;
}

section.gallery .work-gallery label:hover,
section.gallery .work-gallery input.item-type-all:checked ~ label.label-type-all,
section.gallery .work-gallery input.item-type-1:checked ~ label.label-type-1,
section.gallery .work-gallery input.item-type-2:checked ~ label.label-type-2,
section.gallery .work-gallery input.item-type-3:checked ~ label.label-type-3 {
    color: white;
    background-color: #0575E6;
    border: 2px solid #0575E6;
}

section.gallery .work-gallery input.item-type-1:checked ~ .items .item-type-1,
section.gallery .work-gallery input.item-type-2:checked ~ .items .item-type-2,
section.gallery .work-gallery input.item-type-3:checked ~ .items .item-type-3 {
    transform: scale(1.08);
    opacity: 1;
}

section.gallery .work-gallery input.item-type-1:checked ~ .items .item:not(.item-type-1),
section.gallery .work-gallery input.item-type-2:checked ~ .items > .item:not(.item-type-2),
section.gallery .work-gallery input.item-type-3:checked ~ .items > .item:not(.item-type-3) {
    transform: scale(0.8);
    opacity: 0.5;
}

section.gallery .work-gallery .items .item {
    transition: all 0.6s ease;
    margin-bottom: 30px;
}

/* End. Gallery */


/* St. Footer */

footer.footer {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}

footer.footer .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 100px;
}

footer.footer .copyright p {
    font-size: 18px;
    color: #ECECEC;
    line-height: 77px;
}


/* Reviews */

footer.footer .reviews .title h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 27px;
    line-height: 50px;
}

footer.footer .reviews .slider {
    width: 65%;
    margin: 0 auto 80px;
}

footer.footer .reviews .slider .carousel {
    min-height: 250px;
    color: #B1B1B1;
}

footer.footer .reviews .slider .carousel .carousel-item {
    min-height: 350px;
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption {
    background-color: white;
    width: 100%;
    padding: 80px 70px 35px;
    right: 0;
    left: 0;
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption img {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption h3 {
    font-size: 18px;
    color: #555555;
    margin-bottom: 15px;
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption p {
    font-size: 15px;
    line-height: 22px;
    color: #B1B1B1;
    margin-bottom: 25px;
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption ul {
    padding-right: 0;
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption ul li:not(:last-of-type) {
    margin-right: 5px;
}

footer.footer .reviews .slider .carousel .carousel-item .carousel-caption ul li a {
    font-size: 24px;
    color: #B2D8fe;
}

footer.footer .reviews .slider .carousel .carousel-indicators {
    padding-right: 0;
    margin: 0;
    bottom: 12px;
}

footer.footer .reviews .slider .carousel .carousel-indicators li {
    max-width: 15px;
    height: 15px;
    border: 1px solid #0575E6;
    background-color: white;
}

footer.footer .reviews .slider .carousel .carousel-indicators li.active {
    background-color: #0575E6;
}

footer.footer .reviews .slider .carousel .carousel-control-next,
footer.footer .reviews .slider .carousel .carousel-control-prev {
    top: 50%;
    bottom: auto;
    width: auto;
    transform: translate(50%, -50%);
}

footer.footer .reviews .slider .carousel .carousel-control-prev {
    transform: translate(-50%, -50%);
}

footer.footer .reviews .slider .carousel .carousel-control-next i,
footer.footer .reviews .slider .carousel .carousel-control-prev i {
    padding: 12px 20px;
    background-color: #0575E6;
    border-radius: 50%;
}


/* Contact */

footer.footer .contact {
    background-color: white;
    padding: 50px;
}

footer.footer .contact .title h3 {
    font-size: 30px;
    color: #0575E6;
    margin-bottom: 35px;
    line-height: 50px;
}

footer.footer .contact ul {
    padding: 0;
}

/* Form */

footer.footer .contact .form form .form-group {
    position: relative;
}

footer.footer .contact .form form .form-group:before{
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 15px;
    left: 28px;
    font-size: 18px;
    line-height: 25px;
    color: #0575E6;
    display: inline-block;
}

footer.footer .contact .form form .form-group:first-of-type:before {
    content: '\f007';
}

footer.footer .contact .form form .form-group:nth-of-type(2):before {
    content: '\f0e0';
}

footer.footer .contact .form form .form-group input,
footer.footer .contact .form form .form-group textarea {
    border: 2px solid #F1F1F1;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #C2C2C2;
    line-height: 35px;
    padding-left: 40px;
}

footer.footer .contact .form form .form-group textarea {
    min-height: 220px;
    max-height: 220px;
    padding-left: 12px;
    line-height: 25px;
}

footer.footer .contact .form form button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #0575E6;
    line-height: 25px;
    background-color: white;
    padding: 10px 70px;
    border: 2px solid #0575E6;
    border-radius: 3px;
}

footer.footer .contact .form form .form-group .error {
    color: red;
}


/* Details */

footer.footer .contact ul.details li {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 30px;
}

footer.footer .contact ul.details li i {
    color: #0575E6;
    margin-right: 2%;
}

footer.footer .contact ul.social li:not(:last-of-type) {
    margin-right: 9px;
}

footer.footer .contact ul.social li a i {
    background-color: #9BC8F5;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s ease;
}

footer.footer .contact ul.social li a i:hover {
    background-color: #0575E6;
}

/* End. Footer */


/*
┌──────────────────────────────────────────┐
│                Media Query               │
└──────────────────────────────────────────┘
*/

@media (max-width: 1199px) {
    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 355px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 90%;
    }

    section.education .container {
        width: 100%;
    }

    header.header .MainCard h2 {
        font-size: 14px;
    }

    section.skills .overlay .stat p {
        margin-bottom: 40px;
    }

    section.education ul.timeline li .time-box {
        max-width: 47.4%;
    }

    footer.footer .reviews .slider {
        width: 70%;
    }

    footer.footer .reviews .slider .carousel .carousel-item .carousel-caption {
        padding: 80px 40px 35px;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 370px;
    }

    footer.footer .contact ul.details li {
        font-size: 15px;
    }

    footer.footer .contact ul.social li:not(:last-of-type) {
        margin-right: 5px;
    }

    footer.footer .contact ul.social li a i {
        width: 39px;
        height: 39px;
        line-height: 39px;
    }

    footer.footer .contact {
        padding: 25px;
    }
}

@media (max-width: 767px) {
    nav.navbar {
        min-height: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    nav.navbar .container {
        width: 100%;
    }

    nav.navbar ul.navbar-nav {
        background-color: white;
        margin-top: 70px;
    }

    nav.navbar button.navbar-toggler {
        margin: 17px auto;
    }

    nav.navbar ul.navbar-nav li a.nav-link {
        color: #0575E6;
    }

    nav.navbar ul.navbar-nav li a.nav-link.active:first-of-type {
        color: white;
    }

    nav.navbar ul.navbar-nav li a.nav-link:hover,
    nav.navbar ul.navbar-nav li a.nav-link.active {
        background-color: #0575E6;
        color: white;
    }

    nav.navbar.noTransparent button.navbar-toggler {
        margin: 17px auto;
    }

    section.education ul.timeline:before {
        height: 90%;
    }

    section.education ul.timeline li .time-box {
        max-width: 100%;
    }

    section.education ul.timeline li:not(:first-of-type) {
        margin-top: 20px;
    }

    section.education ul.timeline li .time-box:after {
        display: none;
    }

    section.gallery .work-gallery input.item-type-1:checked ~ .items .item-type-1,
    section.gallery .work-gallery input.item-type-2:checked ~ .items .item-type-2,
    section.gallery .work-gallery input.item-type-3:checked ~ .items .item-type-3 {
        transform: scale(1);
        opacity: 1;
    }

    section.gallery .work-gallery input.item-type-1:checked ~ .items .item:not(.item-type-1),
    section.gallery .work-gallery input.item-type-2:checked ~ .items > .item:not(.item-type-2),
    section.gallery .work-gallery input.item-type-3:checked ~ .items > .item:not(.item-type-3) {
        transform: scale(0.9);
        opacity: 0.5;
    }

    section.gallery .work-gallery label {
        margin: 0 0.1vw 40px;
    }

    footer.footer .reviews .slider {
        width: 80%;
    }

    footer.footer .contact .form form button {
        width: 100%;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 375px;
    }
}

@media (max-width: 575px) {
    header.header .MainCard h2 {
        font-size: 15px;
        line-height: 1.8;
    }

    section.gallery .work-gallery label {
        margin: 0 5px 40px;
        padding: 10px 15px;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 380px;
    }

    footer.footer .reviews .slider .carousel .carousel-item .carousel-caption {
        padding: 80px 5% 35px;
    }

    footer.footer .contact {
        padding: 40px;
    }

}

@media (max-width: 500px) {
    section.gallery .work-gallery label {
        margin: 0 3px 40px;
        padding: 10px 12px;
        font-size: 18px;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 400px;
    }

    footer.footer .contact {
        padding: 35px;
    }
}

@media (max-width: 450px) {
    section.gallery .work-gallery label {
        margin: 0 2px 40px;
        padding: 10px 11px;
        font-size: 16px;
    }

    footer.footer .reviews .slider {
        width: 86%;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 400px;
    }

    footer.footer .contact {
        padding: 30px;
    }
}

@media (max-width: 400px) {
    section.gallery .work-gallery label {
        margin: 0 1px 40px;
        padding: 10px 2.3vw;
        font-size: 4.1vw;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 420px;
    }

    footer.footer .contact {
        padding: 20px;
    }

    footer.footer .copyright p {
        font-size: 17px;
    }
}

@media (max-width: 350px) {
    section.education ul.timeline li .time-box h4 {
        font-size: 4.649999vw;
    }

    section.gallery .work-gallery label {
        margin: 0 3px 40px;
        padding: 10px 10px;
        font-size: 6vw;
    }

    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 442px;
    }

    footer.footer .copyright p {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    footer.footer .reviews .slider .carousel .carousel-item {
        min-height: 442px;
    }
}

/*
┌──────────────────────────────────────────┐
│         Coding by M. Shikh Taleb         │
│            www.shikhtaleb.com            │
└──────────────────────────────────────────┘
*/